<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" ng-app="jrnyApp">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="/">
    <title>Jrny</title>
    <!-- META -->
    <meta name="description" content="Jrny connects travelers with trusted Locals who can introduce you to the place they call home">
    <meta name="keywords" content="Jrny,Travel,World, Food">
    <meta property="og:title" content="Jrny">
    <meta property="og:image" content="">
    <meta property="og:description" content="Jrny connects travelers with trusted Locals who can introduce you to the place they call home">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css({.tmp,client}) app/app.css -->
    <link rel="stylesheet" href="app/app.css">
    <!-- injector:css -->
    <link rel="stylesheet" href="components/googlePlacesAutoComplete/autocomplete.css">
    <!-- endinjector -->
    <!-- endbuild -->

    <!-- STAMP------------------------------------------------------------------->
    <!--<link rel="stylesheet" href="assets/stamp/css/styles.css">-->
    <link rel="stylesheet" href="assets/stamp/css/animate.min.css">
    <link rel="stylesheet" href="assets/stamp/css/colors/seafoam.css">
    <link href='http://fonts.googleapis.com/css?family=Julius+Sans+One|Amatic+SC:400,700' rel='stylesheet' type='text/css'>
    <!--<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>-->
    
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>

    <!-- GOOGLE AUTO COMPLETE -->
    <link rel="stylesheet" href="components/googlePlacesAutoComplete/autocomplete.css">

    <!-- FONT ICONS -->
    <link rel="stylesheet" href="assets/stamp/icons/icons.css">

    <!-- CAROUSEL AND LIGHTBOX -->
    <link rel="stylesheet" href="assets/stamp/css/owl.theme.css">
    <link rel="stylesheet" href="assets/stamp/css/owl.carousel.css">
    <link rel="stylesheet" href="assets/stamp/css/nivo-lightbox.css">
    <link rel="stylesheet" href="assets/stamp/css/nivo_themes/default/default.css">
    <link rel="stylesheet" href="bower_components/toastr/toastr.min.css">

    <link rel="stylesheet" href="assets/stamp/css/bootstrap-rating.css">
    <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="bower_components/fontawesome/css/font-awesome.css" rel="stylesheet">
    <!-- CUSTOM STYLESHEETS -->
    <link rel="stylesheet" ng-href="{{ template }}">
    <!-- STAMP------------------------------------------------------------------->
</head>

<body>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- =========================
     PRE LOADER
    ============================== -->
    <!--<div ng-if="false" class="preloader">
    <div class="status" style="display:none;">
        &nbsp;
    </div>
</div>-->




    <!-- Add your site or application content here -->
    <div id="mainWrapper" ui-view=""></div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-XXXXX-X');
        ga('send', 'pageview');
    </script>

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->
    <!-- build:js({client,node_modules}) app/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/lodash/dist/lodash.compat.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-ui-router-styles/ui-router-styles.js"></script>
    <script src="bower_components/ng-file-upload-shim/ng-file-upload-shim.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload.js"></script>
    <script src="bower_components/toastr/toastr.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,client}) app/app.js -->
    <script src="app/app.js"></script>
    <!-- injector:js -->
    <script src="app/account/account.controller.js"></script>
    <script src="app/account/account.js"></script>
    <script src="app/account/account/notification/notification.js"></script>
    <script src="app/account/account/user-setting/user-setting.js"></script>
    <script src="app/account/add-activity/add-activity.controller.js"></script>
    <script src="app/account/dashboard/dashboard.controller.js"></script>
    <script src="app/account/edit-itinerary/edit-itinerary.controller.js"></script>
    <script src="app/account/favorite/favorite.controller copy.js"></script>
    <script src="app/account/favorite/favorite.controller.js"></script>
    <script src="app/account/itinerary-builder/itinerary-builder.controller.js"></script>
    <script src="app/account/itinerary-view/itinerary-view.controller.js"></script>
    <script src="app/account/local-signup/local-signup.controller.js"></script>
    <script src="app/account/login/login.controller.js"></script>
    <script src="app/account/message/compose/compose.controller.js"></script>
    <script src="app/account/message/important/important.controller.js"></script>
    <script src="app/account/message/inbox/inbox.controller.js"></script>
    <script src="app/account/message/sent/sent.controller.js"></script>
    <script src="app/account/modify-activity/modify-activity.controller.js"></script>
    <script src="app/account/my-jrnys/my-jrnys.controller.js"></script>
    <script src="app/account/profile/about-you/about-you.controller.js"></script>
    <script src="app/account/profile/edit-profile/edit-profile.controller.js"></script>
    <script src="app/account/profile/profile/profile.controller.js"></script>
    <script src="app/account/profile/reviews-profile/reviews-profile.controller.js"></script>
    <script src="app/account/profile/survival-guide/survival-guide.controller.js"></script>
    <script src="app/account/profile/verifications/verifications.js"></script>
    <script src="app/account/settings/settings.controller.js"></script>
    <script src="app/account/signup/signup.controller.js"></script>
    <script src="app/account/traveler-guide/traveler-guide.controller.js"></script>
    <script src="app/account/traveler-itinerary/traveler-itinerary.controller.js"></script>
    <script src="app/account/traveler-survey/interest-preference/interest-preference.controller.js"></script>
    <script src="app/account/traveler-survey/jrny-basics/jrny-basics.controller.js"></script>
    <script src="app/account/traveler-survey/travel-companions/travel-companions.controller.js"></script>
    <script src="app/admin/admin.controller.js"></script>
    <script src="app/admin/admin.js"></script>
    <script src="app/main/contact/contact.controller.js"></script>
    <script src="app/main/destination-search/destination-search.controller.js"></script>
    <script src="app/main/destination-search/destination-search.service.js"></script>
    <script src="app/main/help-center/help-nav/help-nav.controller.js"></script>
    <script src="app/main/home/home.controller.js"></script>
    <script src="app/main/local-application/local-application.controller.js"></script>
    <script src="app/main/local-home/local-home.controller.js"></script>
    <script src="app/main/local-launch/local-launch.controller.js"></script>
    <script src="app/main/local-search/local-search.controller.js"></script>
    <script src="app/main/local-success/local-success.controller.js"></script>
    <script src="app/main/main.controller.js"></script>
    <script src="app/main/main.js"></script>
    <script src="components/auth/auth.service.js"></script>
    <script src="components/auth/user.service.js"></script>
    <script src="components/googlePlacesAutoComplete/autocomplete.js"></script>
    <script src="components/modal/modal.service.js"></script>
    <script src="components/mongoose-error/mongoose-error.directive.js"></script>
    <script src="components/navbar/navbar.controller.js"></script>
    <script src="components/quotes/quotes.js"></script>
    <script src="components/timelineSample/timelineSample.js"></script>
    <!-- endinjector -->
    <!-- endbuild -->


    <!-- =========================
     SCRIPTS
    ============================== -->

    <script src="assets/stamp/js/jquery.min.js"></script>

    <script src="assets/stamp/js/smoothscroll.js"></script>
    <script src="assets/stamp/js/bootstrap.min.js"></script>
    <script src="assets/stamp/js/jquery.nav.js"></script>
    <script src="assets/stamp/js/wow.min.js"></script>
    <script src="assets/stamp/js/jquery.stellar.min.js"></script>
    <script src="assets/stamp/js/retina.min.js"></script>
    <script src="assets/stamp/js/jquery.backstretch.min.js"></script>
    <script src="assets/stamp/js/owl.carousel.min.js"></script>
    <script src="assets/stamp/js/nivo-lightbox.min.js"></script>
    <!-- CUSTOM JS  -->
    <script src="assets/stamp/js/custom.js"></script>

    <script type="text/javascript" src="bower_components/bootstrap/js/tooltip.js"></script>

    <script src="assets/stamp/js/bootstrap-rating.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5577c6a45f7c4897" async="async"></script>

    <!--<script src="http://maps.google.com/maps/api/js"></script>
    <script src="http://rawgit.com/allenhwkim/angularjs-google-maps/master/build/scripts/ng-map.min.js"></script>-->


</body>

</html>