<!--<div class="navbar navbar-inverse bs-docs-nav navbar-fixed-top sticky-navigation white" role="navigation">
    <div ng-include="'/components/navbar/navbar.html'"></div>
</div>

<div class="container secondaryTemplate">
    <p>The delete user and user index api routes are restricted to users with the 'admin' role.</p>
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="user in users">
            <strong>{{user.name}}</strong>
            <br>
            <span class="text-muted">{{user.email}}</span>
            <br/>
            <span class="text-muted">{{user.role}}</span>
            <a ng-click="delete(user)" class="trash"><span class="glyphicon glyphicon-trash pull-right"></span></a>
        </li>
    </ul>
</div>-->


<!-- Overlay Div -->
<!--<div id="overlay" class="transparent">
</div>-->

<div id="wrapper" class="preload sidebar-hide" ng-controller="DashboardCtrl">

    <!-- =========================
     SECTION: TOP NAVIGATION
    ============================== -->
    <div ng-include="'/components/account/topNav/topNav.html'"></div>


    <!-- =========================
     SECTION: LEFT NAVIGATION
    ============================== -->
    <div ng-include="'/components/account/leftNav/leftNav.html'"></div>


    <div id="main-container">
        <!--<div id="breadcrumb">
            <ul class="breadcrumb">
                <li><i class="fa fa-home"></i><a href="index.html"> Home</a>
                </li>
                <li class="active">Admin</li>
            </ul>
        </div>-->
        <!-- /breadcrumb-->
        <div class="main-header clearfix">
            <div class="page-title">
                <h3 class="no-margin">Admin</h3>
                <!--<span>Welcome back Mr.John Doe</span>-->
            </div>
        </div>
        <!-- /main-header -->

        <div class="grey-container shortcut-wrapper">

        </div>
        <!-- /grey-container -->

        <div class="padding-md">

            <div class="padding-md">
                <div class="row">
                    <div class="col-md-12">
                        <p>The delete user and user index api routes are restricted to users with the 'admin' role.</p>
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="user in users">
                                <strong>{{user.name}}</strong>
                                <br>
                                <span class="text-muted">{{user.email}}</span>
                                <br/>
                                <span class="text-muted">{{user.role}}</span>
                                <br/>
                                <span class="text-muted" ng-if="user.local.active">
                                    Local active: {{ user.local.active}}</span>
                                <br/>
                                <span class="text-muted" ng-if="user.local.applied">
                                    Local applied: {{ user.local.applied}}</span>

                                <a ng-click="delete(user)" class="trash"><span class="glyphicon glyphicon-trash pull-right"></span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.padding-md -->
    </div>
    <!-- /main-container -->
    <!-- Footer
		================================================== -->
    <footer>
        <div class="row">
            <div class="col-sm-6">
                <p class="no-margin">
                    &copy; 2015 <strong>JRNY</strong>. ALL Rights Reserved.
                </p>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row-->
    </footer>
</div>
<!-- /wrapper -->

<a href="" id="scroll-to-top" class="hidden-print"><i class="fa fa-chevron-up"></i></a>

<!-- Pace -->
<script src='../../../assets/endless/js/endless/pace.min.js'></script>

<!-- Endless -->
<script src="../../../assets/endless/js/endless/endless.js"></script>