<div class="navbar navbar-inverse bs-docs-nav navbar-fixed-top sticky-navigation appear-on-scroll" role="navigation">
    <div ng-include src="'/components/navbar/navbar.html'"></div>
</div>

<!-- =========================
     SECTION: HOME / HEADER  
    ============================== -->
<section class="headerWrapper">
    <header class="header" id="home">
        <!-- COLOR OVER IMAGE -->
        <div class="overlay-layer">



            <!-- CONTAINER -->
            <div class="container">

                <div class="row">
                    <div class="col-md-12">

                        <!-- HEADING AND BUTTONS -->
                        <div class="intro-section">

                            <!-- WELCOM MESSAGE -->
                            <h1 class="intro white-text">Travel | Redefined</h1>
                            <h2 class="intro white-text">Planned by a local, so you feel like a local</h2>

                            <!-- DESTINATION SUBSCRIBE FORM -->
                            <div class="row">
                                <div class="col-sm-10 col-sm-offset-1">
                                    <div class="horizontal-subscribe-form">

                                        <form class="form-inline" ng-controller="HomeCtrl">

                                            <input type="text" g-places-autocomplete ng-model="destination" id="auto-destination" name="destination" class="form-control input-box" placeholder="Where are you going?">

                                            <button type="submit" class="btn btn-primary standard-button" ng-click="destinationSearch()">Start your Jrny</button>

                                        </form>
                                        <!--<span id="homeDestinationHelp">Don't know where to go? <a hred="#">Let us help!</a></span>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </header>
</section>

<!-- =========================
     SECTION: SERVICES
    ============================== -->
<section class="services grey-bg" id="section1">
    <div class="container">

        <!-- SECTION HEADER -->
        <div class="section-header">
            <h2 class="dark-text"><strong>Start Your Next Adventure Here</strong></h2>
            <div class="colored-line">
            </div>
        </div>

        <div class="row">

            <!-- SINGLE SERVICE -->
            <div class="col-md-4 wow fadeInLeft" data-wow-offset="10" data-wow-duration="1.75s">
                <div class="service-icon colored-text">
                    <img src="../../../assets/images/icons/map_icon.png" />
                </div>
                <h3 class="colored-text">ENVISION</h3>
                <p>
                    Tell us where you’re going
                </p>
            </div>

            <!-- SINGLE SERVICE -->
            <div class="col-md-4 wow flipInY" data-wow-offset="10" data-wow-duration="1s">
                <div class="service-icon colored-text">
                    <img src="../../../assets/images/icons/personalize_icon.png" />
                </div>
                <h3 class="colored-text">PERSONALIZE</h3>
                <p>
                    Choose your favorite Local and let them know how you want to travel
                </p>
            </div>

            <!-- SINGLE SERVICE -->
            <div class="col-md-4 wow fadeInRight" data-wow-offset="10" data-wow-duration="1.75s">
                <div class="service-icon colored-text">
                    <img src="../../../assets/images/icons/explore_icon.png" />
                </div>
                <h3 class="colored-text">EXPLORE</h3>
                <p>
                    Experience your destination as if you live there
                </p>
            </div>

        </div>
    </div>
</section>

<!-- =========================
     SECTION: QUOTE   
    ============================== -->
<section id="home-quote">
    <div class="container overlay-layer-2">
        <div class="row">
            <div class="col-lg-12" ng-controller="QuotesCtrl">
                <h2 class="wow fadeInLeft" data-wow-duration="2s" data-wow-offset="40">"{{randomQuote.quote}}"</h2>
                <i>–{{randomQuote.author}}</i>
            </div>
        </div>
</section>

<!-- =========================
     SECTION: WHAT WE DO   
    ============================== -->
<section class="brief timeline grey-bg" id="section8">
    <div class="container">

        <div class="row">

            <!-- TIMELINE HEADING / TEXT  -->
            <div class="col-md-6 timeline-text text-left wow fadeInLeft" data-wow-offset="20" data-wow-duration="1.75s">
                <h2 class="text-left dark-text"> <strong>Your 21st Century Travel Agent</strong></h2>
                <div class="colored-line-left">
                </div>
                <p>It's no secret — locals know best. Whether you're traveling alone, as a couple, or in a group, make Jrny your first stop when planning your next vacation.
                    <br/>
                    <br/>We connect travelers with trusted Locals who can introduce you to the place they call home. Whether you want an off-the-beaten-path adventure, the classic tourist experience, or something in between, our locals are here to provide the most effective solution to travel planning.
                    <br/>
                    <br/> You can be as involved in planning your trip as you like. With each Jrny destination, you'll always receive:
                    <br/>

                </p>
            </div>

            <!-- TIMLEINE SCROLLER -->
            <div class="col-md-6 wow fadeInRight" data-wow-offset="20" data-wow-duration="1.75s">

                <!-- SINGLE SERVICE -->
                <div class="col-md-12 wow fadeInLeft" data-wow-offset="10" data-wow-duration="1.75s" style="padding:5px;">
                    <div class="single-service border-bottom-hover">
                        <h3 class="colored-text"><i class="fa fa-question"></i>  Pre-Trip Support</h3>
                        <p>Get all your questions answered before you travel with Pre-Trip support</p>
                    </div>
                </div>

                <!-- SINGLE SERVICE -->
                <div class="col-md-12 wow flipInY" data-wow-offset="10" data-wow-duration="1s" style="padding:5px;">
                    <div class="single-service border-bottom-hover">
                        <h3 class="colored-text"><i class="fa fa-male"></i>  Personalized Itinerary</h3>
                        <p>Make the most of your time and money with a Personalized Itinerary</p>
                    </div>
                </div>

                <!-- SINGLE SERVICE -->
                <div class="col-md-12 wow fadeInRight" data-wow-offset="10" data-wow-duration="1.75s" style="padding:5px;">
                    <div class="single-service border-bottom-hover">
                        <h3 class="colored-text"><i class="fa fa-map-marker"></i>  Local Survival Guide</h3>
                        <p>Learn the ins and outs of your destination with a Local Survival Guide</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>



<!-- =========================
     SECTION: WHY USE JRNY   
    ============================== -->
<section class="features white-text" id="section7">
    <!--<section class="unique-features white-bg" id="section5">-->
    <div class="overlay-layer">
        <div class="container">

            <!-- SECTION HEADER -->
            <div class="section-header">
                <h2 class="white-text">The Most Convenient Way to Travel</strong></h2>
                <div class="colored-line">
                </div>
                <div class="sub-heading white-text">
                    Learn from the best with Pre-Trip Support, Personalized Itinerary, and a Local Survival Guide.
                </div>
            </div>

            <!-- FIRST ROW OF FEATURES -->
            <div class="row">
                <div class="col-md-4 wow fadeInRight" data-wow-duration="1.75s" data-wow-offset="20">

                    <!-- SINGLE FEATURE -->
                    <div class="feature">
                        <div class="icon-container">
                            <span class="icon-laptop colored-text"></span>
                        </div>
                        <div class="description text-left">
                            <h4 class="white-text">Plan Less, Do More</h4>
                            <div class="grey-line-short pull-left">
                            </div>
                            <p class="text-left">Be as involved or hands off as you want — it's completely up to you
                            </p>
                        </div>
                    </div>

                    <!-- SINGLE FEATURE -->
                    <div class="feature">
                        <div class="icon-container">
                            <span class="icon-home-house-streamline colored-text"></span>
                        </div>
                        <div class="description text-left">
                            <h4 class="white-text">Travel Smarter</h4>
                            <div class="grey-line-short pull-left">
                            </div>
                            <p class="text-left">Learn about the history, neighborhoods, and culture before you travel</p>
                        </div>
                    </div>

                    <!-- SINGLE FEATURE -->
                    <div class="feature">
                        <div class="icon-container">
                            <span class="icon-map-alt colored-text"></span>
                        </div>
                        <div class="description text-left">
                            <h4 class="white-text">Spend Wisely</h4>
                            <div class="grey-line-short pull-left">
                            </div>
                            <p class="text-left">Get the best deals on transportation, happy hour, and event admission
                            </p>
                        </div>
                    </div>
                </div>

                <!-- IPAD IMAGE -->
                <div class="col-md-4">
                    <div class="ipad-image wow bounceIn" data-wow-duration="1.75s" data-wow-offset="20">
                        <!--<img src="../../../assets/images/LogoCompass.png" alt="">-->
                    </div>
                </div>

                <div class="col-md-4 wow fadeInLeft" data-wow-duration="1.75s" data-wow-offset="20">

                    <!-- SINGLE FEATURE -->
                    <div class="feature">
                        <div class="icon-container">
                            <span class="icon-basic-photo colored-text"></span>
                        </div>
                        <div class="description text-left">
                            <h4 class="white-text">Live Like a Local</h4>
                            <div class="grey-line-short pull-left">
                            </div>
                            <p class="text-left">Locals know about up-and-coming neighborhoods, restaurants, and events</p>
                        </div>
                    </div>

                    <!-- SINGLE FEATURE -->
                    <div class="feature">
                        <div class="icon-container">
                            <span class="icon-man-people-streamline-user colored-text"></span>
                        </div>
                        <div class="description text-left">
                            <h4 class="white-text">Join the Community</h4>
                            <div class="grey-line-short pull-left">
                            </div>
                            <p class="text-left">Connect with the locals in your destination for a one-of-a-kind experience</p>
                        </div>
                    </div>

                    <!-- SINGLE FEATURE -->
                    <div class="feature">
                        <div class="icon-container">
                            <span class="icon-chat-alt colored-text"></span>
                        </div>
                        <div class="description text-left">
                            <h4 class="white-text">Be Social</h4>
                            <div class="grey-line-short pull-left">
                            </div>
                            <p class="text-left">Share your Jrny with friends and family — before, during and after</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<!-- =========================
     SECTION: PRICING   
    ============================== -->
<section class="pricing grey-bg" id="section6">
    <div class="container">

        <!-- SECTION HEADER -->
        <div class="section-header">
            <h2 class="dark-text"><strong>A Price That Saves You Money</h2>
            <div class="colored-line">
            </div>
            <div class="sub-heading">
                With insight on the cheapest transportation, the best happy hours, free local events and daily entrance deals,
                <br/>Jrny Locals help you save money in order to stay within your budget. </div>

        </div>

        <!-- PRICING TABLE -->
        <div class="row pricing-table">

            <!-- SINGLE PACKAGE -->
            <div class="col-md-3 wow fadeInLeft scrollToTop" data-wow-offset="20" data-wow-duration="1.75s">
                <div class="single-pricing border-bottom-hover">

                    <div class="package-title">
                        <h3 class="colored-text">1-3 DAYS</h3>
                        <div class="colored-line">
                        </div>
                    </div>

                    <h2 class="price"><span class="superscript">$</span>25<sup>.00</sup><span class="month small-text">Per Day</span></h2>
                    <div class="small-text uppercase">
                        <span class="colored-text">Everything Included</span>
                    </div>
                </div>
            </div>

            <!-- SINGLE PACKAGE -->
            <div class="col-md-3 wow flipInY scrollToTop" data-wow-offset="10" data-wow-duration="1.5s">
                <div class="single-pricing border-bottom-hover">

                    <div class="package-title">
                        <h3 class="colored-text">4-7 DAYS</h3>
                        <div class="colored-line">
                        </div>
                    </div>

                    <h2 class="price"><span class="superscript">$</span>22<sup>.50</sup><span class="month small-text">Per Day</span>
                        </h2>

                    <div class="small-text uppercase">
                        <span class="colored-text">10%</span> Discount per day
                    </div>

                </div>
            </div>

            <!-- SINGLE PACKAGE -->
            <div class="col-md-3 wow fadeInRight scrollToTop" data-wow-offset="20" data-wow-duration="1.75s">
                <div class="single-pricing border-bottom-hover">

                    <div class="package-title">
                        <h3 class="colored-text">8-10 DAYS</h3>
                        <div class="colored-line">
                        </div>
                    </div>
                    <h2 class="price"><span class="superscript">$</span>21<sup>.25</sup><span class="month small-text">Per Day</span></h2>

                    <div class="small-text uppercase">
                        <span class="colored-text">15%</span> Discount per day
                    </div>

                </div>
            </div>

            <!-- SINGLE PACKAGE -->
            <div class="col-md-3 wow fadeInRight scrollToTop" data-wow-offset="20" data-wow-duration="1.75s">
                <div class="single-pricing border-bottom-hover">

                    <div class="package-title">
                        <h3 class="colored-text">11+ DAYS</h3>
                        <div class="colored-line">
                        </div>
                    </div>
                    <h2 class="price"><span class="superscript">$</span>20<sup>.00</sup><span class="month small-text">Per Day</span></h2>

                    <div class="small-text uppercase">
                        <span class="colored-text">20%</span> Discount per day
                    </div>

                </div>

            </div>
            <!--<div class="col-md-12" style="text-align:center;">
    <a href="#" class="btn standard-button">give Jrny as a gift</a>
</div>-->
        </div>
    </div>
</section>

<!-- =========================
 SECTION: PRE FOOTER   
============================== -->
<section id="pre-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Jrnys are always more fun with friends and family. Go Ahead. Share. &nbsp;</h2>

                <div class="pre-footer-social">
                    <div class="addthis_sharing_toolbox"></div>
                </div>
            </div>
        </div>
</section>


<div ng-include="'/components/footer/footer.html'"></div>

<script>
    function backgroundRotator() {
        $('#home').backstretch([
            "http://itsthejrny.herokuapp.com/assets/images/background-images/Colorful-Small.jpg",
            "http://itsthejrny.herokuapp.com/assets/images/background-images/timesSquare.jpg",
            "http://itsthejrny.herokuapp.com/assets/images/background-images/DC-Metro.png",
            "http://itsthejrny.herokuapp.com/assets/images/background-images/road.png"
        ], {
            duration: 4000,
            fade: 750
        });
    }

    backgroundRotator();

    function timelineScroller() {
        setTimeout(function () {

            var x = 0,
                init,
                container = $('.timeline-section'),
                /* TIMELINE SELECTOR */
                items = container.find('li'),
                containerHeight = 0,
                numberVisible = 4,
                /* NUMBER OF <li> TO SHOW IN SCROLLER */
                intervalSec = 4000; /* INTERVAL TIME */

            if (!container.find('li:first').hasClass("first")) {
                container.find('li:first').addClass("first");
            }

            items.each(function () {
                if (x < numberVisible) {
                    containerHeight = containerHeight + $(this).outerHeight();
                    x = x + 1;
                }
            });

            container.css({
                height: containerHeight,
                overflow: "hidden"
            });

            function vertCycle() {
                var firstItem = container.find('li.first').html();

                container.append('<li>' + firstItem + '</li>');
                firstItem = '';
                container.find('li.first').animate({
                    marginTop: "-105px",
                    opacity: "0"
                }, 600, function () {
                    $(this).remove();
                    container.find('li:first').addClass("first");
                });
            }

            if (intervalSec < 700) {
                intervalSec = 700;
            }

            init = setInterval(function () {
                vertCycle();
            }, intervalSec);

            container.hover(function () {
                clearInterval(init);
            }, function () {
                init = setInterval(function () {
                    vertCycle();
                }, intervalSec);
            });
        }, 1000);
    }

    timelineScroller();
</script>