<div class="navbar navbar-inverse bs-docs-nav navbar-fixed-top sticky-navigation white" role="navigation">
    <div ng-include="'/components/navbar/navbar.html'"></div>
</div>

<section class="faqs secondaryTemplate" ng-controller="localsearchCtrl">
    <div class="container" style="height:600px">
        <div class="row">
            <div class="col-md-2 col-sm-12"></div>
            <div class="col-md-2 col-sm-12">
                <select class="form-control" ng-model="$parent.m_gender" ng-change="get_local()" id="txt_gen">
                    <option value="">Gender</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="other">Other</option>
                </select>
            </div>
            <div class="col-md-2 col-sm-12">
                <select class="form-control" ng-change="get_local()" ng-model="$parent.m_age" id="txt_age">
                    <option value="">Age</option>
                    <option value="1">18-25 years old</option>
                    <option value="2">26-35 years old</option>
                    <option value="3">36-45 years old</option>
                    <option value="4">46-59 years old</option>
                    <option value="5">60 years or older</option>
                </select>
            </div>
            <div class="col-md-2 col-sm-12">
                <select class="form-control" ng-change="get_local()" ng-model="$parent.m_lang" ng-options="lang for lang in languageList">
                    <option value="">Language</option>
                </select>
            </div>
            <div class="col-md-2 col-sm-12">
                <select class="form-control" ng-change="get_local()" ng-model="$parent.m_review" id="txt_review">
                    <option value="">Average Rating</option>
                    <option value="1">More than 1.0 stars</option>
                    <option value="2">More than 2.0 stars</option>
                    <option value="3">More than 3.0 stars</option>
                    <option value="4">More than 4.0 stars</option>
                    <option value="5">5.0 stars</option>
                </select>
            </div>
        </div>

        <div class="row" style="margin-top:15px">
            <div class="col-md-4 col-sm-12 text-center" ng-repeat="local in m_local_list" ng-show="!(local._id==getCurrentUser()._id)"> 
            	<div class="search_cover_photo" style="background-image:url('{{local.coverUrl}}')">
            		<div class="drop-box" style="width:150px;height:150px;" ng-click="showProfile(local._id)">
	                    <img class="user-photo review_photo_lg" ng-hide="local.photoUrl" src="assets/images/icons/no-photo.jpg" />
	                    <img class="user-photo review_photo_lg" ng-show="local.photoUrl" src="{{local.photoUrl}}" />
	                </div>
            		<h3>{{local.firstName}} {{local.lastName.substr(0, 1)}}</h3>
            		<h5>Local Since {{month_name[local.since_month - 1]}} {{local.since_year}}</h5>
            		<div class="row">
                        <span class="glyphicon glyphicon-star" ng-repeat="i in getNumber(local.avg_review_int) track by $index"></span><span class="glyphicon glyphicon-star-empty" ng-repeat="i in getNumber(5 - local.avg_review_int) track by $index"></span><span class="badge" style="background-color:#345AA7">{{local.avg_review_org}}</span>
                    </div>
            	</div>
            </div>
        </div>

</section>

<div ng-include="'/components/footer/footer.html'"></div>