<div class="navbar navbar-inverse bs-docs-nav navbar-fixed-top sticky-navigation white" role="navigation">
    <div ng-include="'/components/navbar/navbar.html'"></div>
</div>
<section class="bg-signup">
    <div class="container secondaryTemplate">
        <div class="row">

            <div class="col-sm-12 col-md-6 col-md-push-3">
                <h2 class="loginTitle">Log In</h2>

                <form class="form vertical-registration-form-signup" name="form" ng-submit="login(form)" novalidate>

                    <div class="form-group">
                        <input type="email" name="email" class="form-control input-box" placeholder="Email" ng-model="user.email" required>
                    </div>

                    <div class="form-group">
                        <input type="password" name="password" class="form-control input-box" placeholder="Password" ng-model="user.password" required>
                    </div>

                    <div class="form-group has-error">
                        <p class="help-block" ng-show="form.email.$error.required && form.password.$error.required && submitted">
                            Please enter your email and password.
                        </p>
                        <p class="help-block" ng-show="form.email.$error.email && submitted">
                            Please enter a valid email.
                        </p>

                        <p class="help-block">{{ errors.other }}</p>
                    </div>

                    <div>
                        <button class="btn btn-inverse btn-lg btn-login" type="submit">
                            Log In
                        </button>
                        <a class="btn" href="/signup">
            Sign Up
          </a>
                    </div>

                    <hr>
                    <div style="text-align:center;">
                        <p>Or log in using…</p>
                        <a class="btn btn-facebook" href="" ng-click="loginOauth('facebook')">
                            <i class="fa fa-facebook"></i> Facebook
                        </a>
                        <a class="btn btn-google-plus" href="" ng-click="loginOauth('google')">
                            <i class="fa fa-google-plus"></i> Google+
                        </a>
                        <a class="btn btn-twitter" href="" ng-click="loginOauth('twitter')">
                            <i class="fa fa-twitter"></i> Twitter
                        </a>
                    </div>
                </form>
            </div>

            <!--<div class="col-sm-12 col-md-7 overlay-layer-2" id="login-quote" style="margin-top: 20px; min-height: 314px;">
    <div class="row">
        <div class="col-lg-12" ng-controller="QuotesCtrl">
            <h2 class="wow fadeInLeft" data-wow-duration="2s" data-wow-offset="40">"{{randomQuote.quote}}"</h2>
            <i>–{{randomQuote.author}}</i>
        </div>
    </div>
</div>-->
        </div>
    </div>
</section>
<div ng-include="'/components/footer/footer.html'"></div>