<!-- FOOTER -->
<footer class="footer">
    ©2015 Jrny LLC. All Rights Reserved

    <!-- OPTIONAL FOOTER LINKS -->
    <ul class="footer-links small-text">
        <li>
            <a href="/team" class="dark-text">Team</a>
        </li>
        <!--<li>
    <a href="/jobs" class="dark-text">Jobs</a>
</li>
<li>
    <a href="#" class="dark-text">Blog</a>
</li>
<li>
    <a href="/press" class="dark-text">Press</a>
</li>-->
        <li>
            <a href="/privacy-policy" class="dark-text">Privacy & Terms</a>
        </li>
        <li>
            <a href="/contact" class="dark-text">Contact</a>
        </li>
        <li>
            <a href="/help-center" class="dark-text">Help Center</a>
        </li>
    </ul>

    <!-- SOCIAL ICONS -->
    <ul class="social-icons">
        <li><a href="http://www.facebook.com/itsthejrny" target="_blank"><span class="icon-social-facebook"></span></a>
        </li>
        <li><a href="https://twitter.com/itsthejrny" target="_blank"><span class="icon-social-twitter"></span></a>
        </li>
        <li><a href="http://pinterest.com/itsthejrny" target="_blank"><span class="icon-social-pinterest"></span></a>
        </li>
        <li><a href="http://instagram.com/itsthejrny"><span class="icon-social-instagram"></span></a>
        </li>
        <li><a href="mailto:contact@itsthejrny.com"><span class="icon-basic-mail"></span></a>
        </li>
    </ul>
</footer>