<!-- STICKY NAVIGATION -->
<div class="container-fluid" ng-controller="NavbarCtrl">
    <div class="navbar-header">

        <!-- LOGO ON STICKY NAV BAR -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#stamp-navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-grid-2x2"></span>
        </button>

        <!-- LOGO -->
        <a class="navbar-brand" href="/">jrny</a>

    </div>

    <!-- TOP BAR -->
    <div class="navbar-collapse collapse" id="stamp-navigation">

        <!-- NAVIGATION LINK -->

        <!-- LOGIN REGISTER -->
        <ul class="nav navbar-nav navbar-right login-register small-text">
            <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/login')}" class="login js-login"><a href="/login">Log In</a>
            </li>
            <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/signup')}" class="login js-signup"><a href="/signup">Sign Up</a>
            </li>
            <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/help-center')}" class="login js-help-center"><a href="/help-center">Help</a>
            </li>
            <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/signup')}" class="register-button js-register inpage-scroll"><a href="/local-home" class="navbar-register-button">Become a Local</a>
            </li>
            <!-- logged in -->

            <!-- Show Dashboard -->
            <li ng-show="isLoggedIn()">
            <!--<a href="/profile"></a>-->
                <div class="dropdown" style="margin-top:8px;margin-right:10px">
                    <button class="btn dropdown-toggle" id="menu1" type="button" data-toggle="dropdown" style="background-color:transparent;color:inherit"><strong>{{ getCurrentUser().firstName}} {{ getCurrentUser().lastName.substr(0, 1)}}</strong>
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1" style="font-size:14px">
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="/dashboard">Dashboard</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="/favorite/Restaurant/1/1">Your Favorites</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="/message_inbox">Messages</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="/edit-profile">Profile</a></li>    
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="/notifications">Account</a></li>
                    </ul>
                  </div>

                
            
            </li> 
            <li ng-show="isLoggedIn()">
                <div class="dropdown" style="margin-top:8px;margin-right:10px">
                    <button class="btn dropdown-toggle" id="menu1" type="button" data-toggle="dropdown" style="background-color:transparent;color:inherit">Help</strong>
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu2" style="font-size:14px">
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Help Center</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Traveler FAQs</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Local FQAs</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Feedback</a></li>
                    </ul>
                  </div>
            </li>
            <li ng-show="isLoggedIn()"><a class="" href="#logoutConfirm" ng-click="logout()">Logout</a>
            </li>
            <li ng-show="isLoggedIn()">
                <a class="localSignUpTopNav btn-success" href="/local-application/{{getCurrentUser()._id}}" style="margin-top:10px;padding-top:5px;padding-bottom:5px;border-radius:4px" ng-hide="{{getCurrentUser().local.applied}}">Become a Local</a>
            </li>


            <!--<li ng-show="isLoggedIn()" ng-class="{active: isActive('/signup')}" class="register-button js-register inpage-scroll" style="margin-right:10px">
                <a href="/dashboard" class="navbar-register-button">Dashboard</a>
            </li>-->
            <!-- log out -->
            <!--<li ng-show="isLoggedIn()" ng-class="{active: isActive('/logout')}" class="register-button js-register inpage-scroll">
                <a href="" ng-click="logout()" class="navbar-register-button">Logout</a>
            </li>-->
        </ul>


    </div>
</div>
<!-- /END CONTAINER -->
</div>
<!-- /END STICKY NAVIGATION -->