<!-- Overlay Div -->
<!--<div id="overlay" class="transparent">
</div>-->
<div id="wrapper" class="preload sidebar-hide" ng-controller="AccountCtrl">

    <!-- =========================
   SECTION: TOP NAVIGATION
  ============================== -->
    <div ng-include="'/components/account/topNav/topNav.html'"></div>


    <!-- =========================
   SECTION: LEFT NAVIGATION
  ============================== -->
    <div ng-include="'/components/account/leftNav/leftNav.html'"></div>


    <div id="main-container">
        
        <!-- /breadcrumb-->
        <div ng-include="'/components/account/topNav/header-msg.html'"></div>
        <!-- /main-header -->
         <div class="custom-sub-navbar">
                <ul class="nav subnav nav-extra-top">
                    <li>
                        <a href="/dashboard">Dashboard</a>
                    </li>
                    <li>
                        <a href="/favorite/Restaurant/1/1">Your Favorites</a>
                    </li>
                    <li class="active">
                        <a href="/message_inbox">Messages</a>
                    </li>
                    <li>
                        <a href="/edit-profile">Profile</a>
                    </li>
                    <li>
                        <a href="/notifications">Account</a>
                    </li>
                </ul>
            </div>

            <div class="custom-sub-navbar">
                <ul class="nav subnav nav-extra-bottom">
                    <li>
                        <a href="/message_inbox">Inbox</a>
                    </li>
                    <li>
                        <a href="/message_important">Important</a>
                    </li>
                    <li>
                        <a href="/message_sent">Sent Mail</a>
                    </li>
                    <li>
                        <a href="#">Drafts</a>
                    </li>
                
                </ul>
            </div>

        <div class="container notification-container">
            <div class="padding-md">
                <div class="row">
                    <div class="col-md-1 col-sm-12"></div>
                    <div class="col-md-10 col-sm-12">

                        <div class="row row_border" style="border-top:1px solid #EEEEEE">
                            <div class="col-md-1 col-sm-12"><h5>To:</h5></div>
                            <div class="col-md-10 col-sm-12">
                                <select class="form-control" id="sel_user" ng-show="(m_state_id=='')">
                                    <option value=""></option>
                                    <option value="{{user.email}}" ng-repeat="user in users track by $index">{{user.firstName}} {{user.lastName}}</option>
                                </select>
                                <h5 ng-show="!(m_state_id=='')">{{users[m_idx].firstName}} {{users[m_idx].lastName}}</h5>
                            </div>
                            <div class="col-md-1 col-sm-12"><button class="btn btn-danger" style="float:right" ng-click="send()">Send</button></div>
                        </div>

                        <div class="row row_border" style="font-size:14px;">
                            <div class="col-md-12 col-sm-12">
                                <textarea class="form-control" rows="20" ng-model="$parent.msg_content"></textarea>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <!-- /.padding-md -->
    </div>
    <!-- /main-container -->
    <!-- Footer
      ================================================== -->
    <footer>
        <div class="row">
            <div class="col-sm-6">
                <p class="no-margin">
                    &copy; 2015 <strong>JRNY</strong>. ALL Rights Reserved.
                </p>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row-->
    </footer>
</div>
<!-- /wrapper -->

<a href="" id="scroll-to-top" class="hidden-print"><i class="fa fa-chevron-up"></i></a>

<!-- Pace -->
<script src='../../../assets/endless/js/endless/pace.min.js'></script>

<!-- Endless -->
<script src="../../../assets/endless/js/endless/endless.js"></script>