<form class="form-horizontal form-border textarea-form">
  <div class="panel-heading">
    <h3>Accomodations</h3>
  </div>
  <div class="panel-body">
    <div class="form-group">
      <h4>
        Recommended Neighborhoods
      </h4>
            <p>
        Describe neighborhoods that you would like to stay in if you were visiting.
      </p>
      <textarea class="form-control" ng-model="getCurrentUser().local.ApplicationSurvivalGuide.neighborhoods" rows="2"></textarea>
    </div>
    <div class="form-group">
      <h4>
        Hotels
      </h4>
      <p>
        Do you have any specific hotel recommendations?
      </p>
      <textarea class="form-control" ng-model="getCurrentUser().local.ApplicationSurvivalGuide.hotels" rows="2"></textarea>
    </div>
    <div class="form-group">
      <h4>
        Rentals
      </h4>
      <p>
        Do you have any specific vacation rental recommendations?
      </p>
      <textarea class="form-control" ng-model="getCurrentUser().local.ApplicationSurvivalGuide.rentals" rows="2"></textarea>
    </div>
    <div class="form-group">
      <h4>
        Hostels/Other
      </h4>
      <p>
        Do you have any specific hostel recommendations? What about other one-of-a-kind accomodation opportunities?
      </p>
      <textarea class="form-control" ng-model="getCurrentUser().local.ApplicationSurvivalGuide.hostels" rows="2"></textarea>
    </div>
  </div>
  <div class="panel-footer">
    <div class="text-right">
      <button class="btn btn-sm btn-success" ng-click="update()">Update</button>
    </div>
  </div>
</form>
