<form class="form-horizontal form-border textarea-form">
  <div class="panel-heading">
    <h3>Money</h3>
  </div>
  <div class="panel-body">
    <div class="form-group">
      <h4>
        Currency/Exchange
      </h4>
      <p>
        What is the local currency? Where is the best place to exchange money? Should travelers bring Dollars, Euros, Pounds, etc or wait until they arrive? Is cash or credit card more widely used/accepted?
      </p>
      <textarea class="form-control" ng-model="getCurrentUser().local.ApplicationSurvivalGuide.currency_exchange" rows="2"></textarea>
    </div>
    <div class="form-group">
      <h4>
        Banks/ATMs
      </h4>
      <p>
        What are popular banks in the area? What are the most common types of ATMs? Is is safe to use ATMs at night? Is service offered in other languages?
      </p>
      <textarea class="form-control" ng-model="getCurrentUser().local.ApplicationSurvivalGuide.bank_atms" rows="2"></textarea>
    </div>
    <div class="form-group">
      <h4>
        Budget
      </h4>
      <p>
        What are average prices of common goods? This will help a Traveler budget their Jrny. Examples: lunch, a beer/cocktail out on the town, a taxi ride, cover at a club, gas, etc.
      </p>
      <textarea class="form-control" ng-model="getCurrentUser().local.ApplicationSurvivalGuide.budget" rows="2"></textarea>
    </div>
  </div>
  <div class="panel-footer">
    <div class="text-right">
      <button class="btn btn-sm btn-success" ng-click="update()">Update</button>
    </div>
  </div>
</form>
