<!-- Overlay Div -->
<!--<div id="overlay" class="transparent">
</div>-->

<div id="wrapper" class="preload sidebar-hide" ng-controller="AccountCtrl">

    <!-- =========================
   SECTION: TOP NAVIGATION
  ============================== -->
    <div ng-include="'/components/account/topNav/topNav.html'"></div>


    <!-- =========================
   SECTION: LEFT NAVIGATION
  ============================== -->
    <div ng-include="'/components/account/leftNav/leftNav.html'"></div>


    <div id="main-container">
        <div ng-include="'/components/account/topNav/header-msg.html'"></div>
        <!-- /breadcrumb-->
        <!-- /main-header -->
        <div class="custom-sub-navbar">
           <div class="custom-sub-navbar">
            <ul class="nav subnav nav-extra-top">
                <li>
                    <a href="/dashboard">Dashboard</a>
                </li>
                <li>
                    <a href="/favorite/Restaurant/1/1">Your Favorites</a>
                </li>
                <li>
                    <a href="/message_inbox">Messages</a>
                </li>
                <li class="active">
                    <a href="/edit-profile">Profile</a>
                </li>
                <li>
                    <a href="/notifications">Account</a>
                </li>
            </ul>
        </div>
        <div class="custom-sub-navbar">
            <ul class="nav subnav nav-extra-bottom">
                <li>
                    <a href="/edit-profile">Basic Information</a>
                </li>
                <li>
                    <a href="/about-you">About You</a>
                </li>
                <li class="active">
                    <a href="/survival-guide/summary">Survival Guide</a>
                </li>
                <li>
                    <a href="/reviews-profile">Reviews</a>
                </li>
                <li>
                    <a href="/verifications">Verifications</a>
                </li>
            </ul>
        </div>
        </div>

        <div class="padding-md">
            <div class="row">
                <div class="col-sm-12 col-md-2">           
                    <div class="row" style="margin-top:20px">
                        <div class="col-md-3 col-sm-12"></div>
                        <div class="col-md-6 col-sm-12">
                            <div class="row"><a style="font-weight:{{m_font_bold[0]}}" ng-click="go_page(0)" class="btn" ui-sref="survival-guide.summary">Summary</a></div>
                            <div class="row"><a style="font-weight:{{m_font_bold[1]}}" ng-click="go_page(1)" class="btn" ui-sref="survival-guide.before_arriving">Before Arriving</a></div>
                            <div class="row"><a style="font-weight:{{m_font_bold[2]}}" ng-click="go_page(2)" class="btn" ui-sref="survival-guide.getting_here">Getting Here</a></div>
                            <div class="row"><a style="font-weight:{{m_font_bold[3]}}" ng-click="go_page(3)" class="btn" ui-sref="survival-guide.accommodation">Accommodation</a></div>
                            <div class="row"><a style="font-weight:{{m_font_bold[4]}}" ng-click="go_page(4)" class="btn" ui-sref="survival-guide.transportation">Transportation</a></div>
                            <div class="row"><a style="font-weight:{{m_font_bold[5]}}" ng-click="go_page(5)" class="btn" ui-sref="survival-guide.money">Money</a></div>
                            <div class="row"><a style="font-weight:{{m_font_bold[6]}}" ng-click="go_page(6)" class="btn" ui-sref="survival-guide.weather_seasons">Weather/Seasons</a></div>
                            <div class="row"><a style="font-weight:{{m_font_bold[7]}}" ng-click="go_page(7)" class="btn" ui-sref="survival-guide.more_info">More Information</a></div>
                            <div class="row" style="margin-top:15px"><a href="/edit-profile" class="btn btn-danger" >Return to Profile</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-8">
                    <!-- EDIT PROFILE FORM -->
                    <div class="panel panel-default" ui-view>

                    </div>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.padding-md -->
    </div>
    <!-- /main-container -->
    <!-- Footer
      ================================================== -->
    <footer>
        <div class="row">
            <div class="col-sm-6">
                <p class="no-margin">
                    &copy; 2015 <strong>JRNY</strong>. ALL Rights Reserved.
                </p>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row-->
    </footer>
</div>
<!-- /wrapper -->

<a href="" id="scroll-to-top" class="hidden-print"><i class="fa fa-chevron-up"></i></a>

<!-- Pace -->
<script src='../../../assets/endless/js/endless/pace.min.js'></script>

<!-- Endless -->
<script src="../../../assets/endless/js/endless/endless.js"></script>