<!-- Overlay Div -->
<!--<div id="overlay" class="transparent">
</div>-->

<div id="wrapper" class="preload sidebar-hide" ng-controller="AccountCtrl">

    <!-- =========================
     SECTION: TOP NAVIGATION
    ============================== -->
    <div ng-include="'/components/account/topNav/topNav.html'"></div>


    <!-- =========================
     SECTION: LEFT NAVIGATION
    ============================== -->
    <div ng-include="'/components/account/leftNav/leftNav.html'"></div>


    <div id="main-container" ng-cloak>
        <!-- /breadcrumb-->
        <div ng-include="'/components/account/topNav/header-msg.html'"></div>
        <!-- /main-header -->
         <div class="custom-sub-navbar">
                <ul class="nav subnav nav-extra-top">
                    <li>
                        <a href="/dashboard">Dashboard</a>
                    </li>
                    <li class="active">
                        <a href="/favorite/Restaurant/1/1">Your Favorites</a>
                    </li>
                    <li>
                        <a href="/message_inbox">Messages</a>
                    </li>
                    <li>
                        <a href="/edit-profile">Profile</a>
                    </li>
                    <li>
                        <a href="/notifications">Account</a>
                    </li>
                </ul>
            </div>


        <div class="row text-center" style="color:#CCCCCC;margin-top:10px">
            <div class="row" style="margin-top:15px;margin-bottom:15px">
                <div class="col-md-1"></div>
                <div class="col-md-7 col-sm-12">
                    <input type="text" id="txt_place" placeholder="Save your favorite locations, activities, restaurants, etc." class="form-control" />
                </div>
                <div class="col-md-3 col-sm-12">
                    <button class="btn btn-success" ng-click="setPlace()" style="width:100%">Add</button>
                </div>
            </div>
        </div>
        <!-- /grey-container -->

        <div class="padding-md row">
            <div id="map-canvas"></div>
            <div class="row">
                <div class="col-md-3 col-sm-12"></div>
                <div class="col-md-2 col-sm-12">
                    <input type="text" class="form-control" ng-keydown="f(event)" placeholder="Name" id="txt_nm" />
                </div>
                <div class="col-md-2 col-sm-12">
                    <select class="form-control" ng-change="get_favorite()" ng-model="$parent.m_cat" id="txt_cat">
                        <option value="">Category</option>
                        <option value="Restaurant">Restaurant</option>
                        <option value="Bar-Club">Bar/Club</option>
                        <option value="Outdoor">Outdoor Activity</option>
                        <option value="Museum">Museum</option>
                    </select>
                </div>
                <div class="col-md-2 col-sm-12">
                    <select class="form-control" ng-change="get_favorite()" ng-model="$parent.m_rev" id="txt_review">
                        <option value="">Rating</option>
                        <option value="1">More than 1.0 stars</option>
                        <option value="2">More than 2.0 stars</option>
                        <option value="3">More than 3.0 stars</option>
                        <option value="4">More than 4.0 stars</option>
                        <option value="5">5.0 stars</option>
                    </select>
                </div>
            </div>
            <div class="row" style="margin-top:15px">
                <div class="col-md-1"></div>
                <div class="col-md-10" style="overflow:auto;height:600px">                    
                    <div ng-repeat="fav in m_favorites track by $index" style="border:1px solid #CCCCCC;border-radius:10px;width:460px;height:250px;padding:10px 10px 10px 10px;margin-left:20px;float:left;margin-bottom:15px">
                        <h3>{{fav.place.name}}</h3>
                        <div style="margin-top:10px;margin-bottom:10px">{{fav.place.rating}} <span class="glyphicon glyphicon-star" ng-repeat="i in getNumber(getInteger(fav.place.rating)) track by $index"></span><span class="glyphicon glyphicon-star-empty" ng-repeat="i in getNumber(5 - getInteger(fav.place.rating)) track by $index"></span> <span style="color:#3333CC">{{fav.place.user_ratings_total}} Reviews</span></div>
                        <div><b>Address:</b> {{fav.place.formatted_address}}</div>
                        <div><b>Phone:</b> {{fav.place.international_phone_number}}</div>
                        <div><b>Hours:</b> {{fav.place.opening_hours.weekday_text[0]}}</div>
                        <div><b>Website:</b> <a href="{{fav.place.website}}">{{fav.place.website}}</a></div>
                        <div style="margin-top:20px;float:right">
                            <a ng-if="bFromAdd==1" ng-click="fgo_add('/add-activity/', fav.place.place_id)" class="btn btn-success">Add to Itinerary</a>
                            <a ng-click="remove_favorite(fav._id)" class="btn btn-danger">Remove</a>
                        </div>
                        <!--
                            </select>
                        </div>
                        <div class="col-md-1 col-sm-12"><a ng-click="edit_favorite(sub_name,sub_location,sub_phone,sub_website,sub_category,fav._id)" style="width:100%" class="btn btn-default">Edit</a></div>
                        <div class="col-md-1 col-sm-12"><a ng-click="remove_favorite(fav._id)" style="width:100%" class="btn btn-default">Remove</a></div>-->
                    </div>
                </div>
            </div>
        </div>
        <!-- /.padding-md -->
    </div>
    <!-- /main-container -->
    <!-- Footer ================================================== -->
    <div ng-include="'/components/account/footer/footer.html'"></div>

</div>
<!-- /wrapper -->

<a href="" id="scroll-to-top" class="hidden-print"><i class="fa fa-chevron-up"></i></a>

<!-- Pace -->
<script src='../../../assets/endless/js/endless/pace.min.js'></script>

<!-- Endless -->
<script src="../../../assets/endless/js/endless/endless.js"></script>

<script>
var map;
var sel_place = null;

function initialize() {
  // Create a map centered in Pyrmont, Sydney (Australia).
  map = new google.maps.Map(document.getElementById('map-canvas'), {
    center: {lat: 39.7392358, lng: -104.990251},
    zoom: 17
  });

  var input = (document.getElementById('txt_place'));

  var autocomplete = new google.maps.places.Autocomplete(input);
  autocomplete.bindTo('bounds', map);

  google.maps.event.addListener(autocomplete, 'place_changed', function() {

    var rquery = document.getElementById("txt_place").value;

     if(rquery == undefined || rquery == "")
        rquery = 'Denver';

     var request = {
        location: map.getCenter(),
        radius: '500',
        query: rquery
      };
      var service = new google.maps.places.PlacesService(map);
      service.textSearch(request, function(results, status) {
        if (status == google.maps.places.PlacesServiceStatus.OK) {

            var marker = new google.maps.Marker({
              map: map,
              place: {
                placeId: results[0].place_id,
                location: results[0].geometry.location
              }
            });

            var request1 = {
                placeId: results[0].place_id
              };

              var service1 = new google.maps.places.PlacesService(map);

              service1.getDetails(request1, function(place, status) {
                if (status == google.maps.places.PlacesServiceStatus.OK) {

                    map.setCenter(new google.maps.LatLng(place.geometry.location.A, place.geometry.location.F));

                    sel_place = place;
                }
              });
            
        }

      });
    
    });
}
google.maps.event.addDomListener(window, 'load', initialize);
</script>
